*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: #333;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.container {
  color: #fff;
  padding: 0px 15px;
}

.characters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.characters__item {
  display: flex;
  align-items: flex-end;
  cursor: pointer;
  width: 110px;
  text-align: center;
  min-height: 150px;
  background-color: #1c1c1c;
  margin: 0px 5px 5px 0px;
}

.characters__name {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  min-height: 45px;
  opacity: 0;
  transition: opacity 0.3s linear;
}

.characters__item:hover .characters__name{
  visibility: visible;
  opacity: 1;
}

.characters__item:hover {
  background-color: #222;
}

.characters__linebreak {
  width: 100%;
}

#search {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.pagination ul {
  list-style: none;
  display: flex;
}

.pagination__item {
  cursor: pointer;
  padding: 5px 10px;
}

.pagination__item.active {
  background-color: #444;
}

.pagination__item:hover {
  background-color: #444;
}